DATABASE_URL=

API_KEY=
API_KEY_HEADER=X-API-Key

RAPID_API_KEY=

SUPABASE_URL=
SUPABASE_KEY=

JOBSPY_PROXIES=

APIFY_API_KEY=
APIFY_ACTOR_ID=misceres~indeed-scraper

COR_ORIGINS=https://your-vercel-app-url
ENVIRONMENT=production
VALIDATE_ENV=true
LOG_LEVEL=info